<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <h2>About  us!!!</h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laboriosam voluptatibus natus officia reprehenderit voluptatem quae dolores. Repellendus in voluptas provident eos perferendis neque, tempora, fugiat soluta reiciendis id, molestias velit!</p>
</body>
</html>