h1 {
    color: rgb(136, 118, 118);
}

.new-btn {
    text-decoration: none;
    border: 1px solid;
    background: rgb(218, 0, 0);
    color: #fff;
    padding: 8px;
    margin: 1rem;

}


.from-table {
    margin: 1rem;
    padding: 5px;
    font-size: 16px;

}